@use '../../scss/variables' as *;

#root {
     overflow: auto;
}

.garden-container {
    max-width: 1170px;
    width: 840px;
    height: 1020px;
    border: 1px solid $dark-gray;
    margin: 16px auto;
    padding: 16px;
    position: relative;
   

    .tree-card {
        height: 80px;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        padding: 6px;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            box-shadow: 1px 1px 2px rgba($dark-gray, 0.5), -1px 1px 2px rgba($dark-gray, 0.5), -1px -1px 3px rgba($dark-gray, 0.5);
        }

        svg {
            height: 32px;
            width: 32px;
        }

        h3 {
            font-size: 10px;
            font-weight: normal;
            text-align: center;
        }

        h4 {
            font-size: 8px;
            font-weight: normal;
            font-style: italic;
            text-align: center;
        }

        .img-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}