@use '../../scss/variables' as *;

.garden-container {
    max-width: 1170px;
    width: 840px;
    height: 1020px;
    border: 1px solid $dark-gray;
    margin: 16px auto;
    padding: 16px;
    position: relative;

    .tree-card {
        height: 80px;
        width: 80px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        position: absolute;
        // overflow: hidden;
        // border: 1px solid $green;
        padding: 6px;

        svg {
            height: 32px;
            width: 32px;
        }

        h3 {
            font-size: 10px;
            font-weight: normal;
            text-align: center;
            // white-space: wrap;
            // word-break: break-all;
        }

        h4 {
            font-size: 8px;
            font-weight: normal;
            font-style: italic;
            text-align: center;
        }

        .img-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}