// colors
$dark-gray: #666b6e;
$black: rgb(27, 27, 27);
$white: #ffffff;
$gray: rgb(245, 245, 245);
$hover: rgba(224, 224, 224, 0.302);
$hover-darkness: rgba(103, 108, 111, 0.302);
$darkness: rgb(202, 202, 202);
$hover-lightness: rgb(207, 216, 220);
$gray-button-hover: rgb(92, 99, 106);
//$blue-main: rgb(47, 144, 211);
$blue-main: rgb(51, 147, 223);
$blue-primary: rgb(51, 81, 231);
$blue-primary-light: #0081dc;
$blue-button: rgb(13, 110, 253);
$blue-button-hover: rgb(11, 94, 215);
$orange: #ff8800;
$green: #36aa25;
$green-button-hover: rgb(34, 150, 37);
$red: #dc3545;
$gray-stripped: rgba(102, 107, 110, 0.102);
$gray-disabled-dark: rgb(75, 75, 75);
$gray-disabled-light: rgb(180, 180, 180);